$color-black: #000000;
$color-white: #ffffff;
$color-light-grey: #efefef;
$color-grey: #bfbfbf;
$color-dark-grey: #333333;
$color-blue-1: #72c3dc;
$color-blue-2: #6f98a8;
$color-blue-3: #2b8ead;
$color-blue-4: #2f454e;
